{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block head_title %}Guidelines For Companies{% endblock %}</title>
    {% include 'utils/head/css.html' %}
    {% include 'utils/head/js.html' %}
    
    {% compress css %}
        <link rel="stylesheet" href="{% static 'css/cfehome-ui.css' %}">
    {% endcompress %}

</head>
<body>
    <div>
        {% include 'components/navbar/navbar.html' %}
        {% block content %}{% endblock %}
    </div>
</body>
</html>