<nav class="bg-gray-50 dark:bg-gray-700">
   
    <div class="max-w-screen-xl px-10 py-2 mx-auto">
       
       {% comment %} <button id="toggleButton" class="flex align-baseline">Make it happen</button> {% endcomment %}
       <div class="flex justify-between">
          
          <div class="flex flex-row items-center">
             <ul class="flex flex-row font-medium mt-0 space-x-8 rtl:space-x-reverse text-sm">
                <li>
                   <a href="/" class="text-gray-900 dark:text-white hover:underline" aria-current="page">Home</a>
                </li>
                <li>
                   <a href="/guidelines/documents" class="text-gray-900 dark:text-white hover:underline">Guides</a>
                </li>
                <li>
                   <a href="#" class="text-gray-900 dark:text-white hover:underline">APIs</a>
                </li>
                <li>
                   <a href="#" class="text-gray-900 dark:text-white hover:underline">Changelog</a>
                </li>
             </ul>
          </div>   
          {% comment %} {% include 'head/language_dropdown.html' %} {% endcomment %}
       </div>
    </div>
 </nav>