<aside id="logo-sidebar" class="fixed top-8 left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700" aria-label="Sidebar">
    <div class="h-full px-3 pb-4 overflow-y-auto bg-white dark:bg-gray-800">
        <div class="text-gray-900 dark:text-white text-md ms-3 mb-3">{{guideline}}</div>
        <ul class="space-y-2 font-medium">
            {% for folder in folders %}
                <li>
                    {% include 'components/sidebar/sidebar_folder.html' with folder=folder%}
                </li>
            {% endfor %}
       </ul>
    </div>
</aside>